<div class="friends-inner-box-style d-flex justify-content-between align-items-center margin-top-25">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="friend-requests-tab" data-bs-toggle="tab" onclick="GetMyPosts2()" role="tab" aria-controls="friend-requests">My Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="people-you-know-tab" data-bs-toggle="tab" onclick="GetAllPosts2()" aria-controls="people-you-know">Another Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="people-you-know-tab" data-bs-toggle="tab" onclick="AddNewPost()" aria-controls="people-you-know">Add New Post</a>
        </li>
    </ul>

    <div class="friends-search-box">
        <form>
            <input type="text" class="input-search" placeholder="Search friends...">
            <button type="submit"><i class="ri-search-line"></i></button>
        </form>
    </div>
</div>

<div id="newPost" class="col-lg-6 col-md-12" style="margin-top:50px;margin-left:25%;display:none;">
    <div class="news-feed-area">
        <div class="news-feed news-feed-form">
            <h3 class="news-feed-title">Create New Post</h3>

            <form>
                <div class="form-group">
                    <textarea id="textArea" name="message" class="form-control" placeholder="Write something here..."></textarea>
                </div>
                <ul class="button-group d-flex justify-content-between align-items-center">
                    <li class="photo-btn">
                        <button type="submit"><i class="flaticon-gallery"></i> Photo</button>
                    </li>
                    <li class="video-btn">
                        <button type="submit"><i class="flaticon-video"></i> Video</button>
                    </li>
                    <li class="tag-btn">
                        <button type="submit"><i class="flaticon-tag"></i> Tag Friends</button>
                    </li>
                    <li class="post-btn">
                        <button type="submit" onclick="SharePost(event)">Post</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>


<div id="posts" style="display:none;">
</div>

<div id="myPosts" style="display:none;">
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
